# Python
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build

# IDEs
.vscode
.idea
*.swp
*.swo
*~

# Git
.git
.gitignore
.gitattributes

# OS
.DS_Store
Thumbs.db

# Project specific 
.python-version
laboratory/
data/me/
data/not_me/
