services:
  esp3-image-verificator-api:
    build:
      context: .
      dockerfile: build/Dockerfile
    container_name: esp3-image-verificator-api
    hostname: esp3-image-verificator-api
    ports:
      - "23211:23211"
    volumes:
      - ./:/app:delegated
      - cache-data:/app/.cache
    environment:
      - PORT=23211
      - WORKERS=2
    restart: unless-stopped
    networks:
      - esp3-network

volumes:
  cache-data:

networks:
  esp3-network: 
    external: true